/*blog*/
#blog-main{
    background: #ffffff;
    padding-bottom: 30px;
}
#blog-main h3{
    margin-top: 0;
    margin-bottom: 20px;
}
.blog-tags{
    margin: 0 5px 5px 0;
}
#blog-sidebar{

}
/*#blog-sidebar .panel{
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
#blog-sidebar .panel .panel-heading,#blog-sidebar .panel .panel-body{
    background: none;
    padding-left: 0;
    padding-right: 0;
}*/
.panel-heading-mii{
    padding: 15px 20px 0 20px;
    /*background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top: 0;*/
}
.blog-sidebar-item{
    /*background: #ffffff;*/
}
#blog-main article{
    line-height: 2em;
}
#blog-readmore{
    background: #ffffff;
    color: #767676;
    border: 1px solid #eeeeee;
}