#classlist-noclass{
    box-sizing: border-box;
    height: 270px;
    padding: 100px;
    margin-bottom: 20px;
    background: rgba(0,0,0,0.05);
    text-align: center;
}
#classlist-noclass h2{
    color: rgba(0,0,0,0.7);
    text-shadow: 0 2px 1px rgba(255,255,255,0.7);
}
#class-modify-form{
    display: none;
}
#class-modify-loading{
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 3em;
    color: #555;
}
.class-modify-student{
    margin-left: 15px;
    color: #767676;
    cursor: pointer;
    display: none;
}
.class-listitem:hover .class-modify-student{
    display: inline;
}
#class-listtable .class-listtabel-checkbox,#class-userlist .class-listtabel-checkbox,#class-liststudent-tbody .class-listtabel-checkbox{
    line-height: 1.2em;
    width: 2em;
}
#class-student-tabnav li.active a{
    background: none;
}