#cloth-sidebar .panel.isStuck{
    margin-top: 70px;
}
#cloth-detail-carousel{
    padding: 0;
}
@media (max-width: 768px){
    #cloth-listbox>.row>div:nth-child(2n+1){
        padding-right: 7px;
    }
    #cloth-listbox>.row>div:nth-child(2n){
        padding-left: 7px;
    }
}