#horizontalscrollbox{
    height: 300px;
    /*width: 500px;*/
    overflow:scroll;
    -webkit-overflow-scrolling:touch;
}
#horizontalscrollbox ul{
    height: 200px;
    padding: 0;
}
#horizontalscrollbox ul li{
    float: left;
    width: 200px;
    height: 100px;
    background-color: #f4f4f4;
    border: 1px solid #dddddd;
    list-style: none;
    margin: 10px;
    display: inline;
}