#index-image-carousel-box{
    padding: 0;
}
#index-image-carousel,#index-image-carousel-small{
    padding: 0;
    max-height: 400px;
    margin-bottom: 30px;
}
#index-image-carousel .carousel-inner>.item>img,#index-image-carousel .carousel-inner>.item>a>img {
    line-height: 1;
    width: 100%;
}
@media (max-width: 992px){
    #index-image-carousel-box{
        margin-top: -15px;
    }
}
@media (min-width: 992px){
    #index-image-carousel-box{
        margin-top: -30px;
    }
}
.index-intro-item{
    border:#eeeeee 1px solid;
    padding: 15px;
}
#index-text-box h4{
    color: #555555;
}
#index-text-box p{
    color: #888888;
}
#index-image-carousel-box .carousel-inner>.item{
    height: 220px;
    background-size: cover;
    background-position: center;
}
.index-text-des{
    max-height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
}