extends ../layout

block content
    div#mobile-bg
    div#mobile
        div.row
            div.col-md-12
                //h2= title
            div.col-md-12
                //div.col-md-12#console consolebox
                //div.col-md-12#console-max 0
        div#crack.mobile-ani
            //div#up
            //div#down