/*main style for flatUI || todc*/
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.5);
}
body{
    color:#555555;
}
.table thead tr th{
    line-height: 2.5em;
}
.table tbody tr td{
    line-height: 2.2em;
}
.input-group input[type="search"]{
    border-right: 0;
}
@media (min-width: 768px){
    #header .navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a {
        border-radius: 0;
    }
    #header .navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > ul {
        padding-top: 5px;
        padding-bottom: 9px;
    }
}
.btn-group>.btn-sm.dropdown-toggle {
    padding: 3px 8px;
}
.table td span.fa{
    font-size: 18px;
}
.navbar-toolbar.navbar-default .navbar-brand {color: #3078eb;}
.pagination>li>a, .pagination>li>span {
    background-color: #FFFFFF;
}
/*mii*/
.jsshow{display: none;}
#uploadImageDropbox{
    width: 100%;
    /*height: 300px;*/
    /*background-color: rgba(0,0,0,0.5);*/
}
.mii-ani{
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}
.mii-boxborder{
    box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 0 2px rgba(0,0,0,0.06),0 0 0 1px rgba(0,0,0,0.04),0 -1px 0 0 rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 0 2px rgba(0,0,0,0.06),0 0 0 1px rgba(0,0,0,0.04),0 -1px 0 0 rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 0 2px rgba(0,0,0,0.06),0 0 0 1px rgba(0,0,0,0.04),0 -1px 0 0 rgba(0,0,0,0.05);
}
@media (min-width: 992px){
    #header-placeholder{
        height: 38px;
        width: 100%;
        clear: both;
        margin-bottom: 30px;
    }
}
@media (max-width: 992px){
    #header-placeholder{
        height: 38px;
        width: 100%;
        clear: both;
        margin-bottom: 15px;
    }

}
@media (max-width: 768px){
    #header.navbar-toolbar.navbar-inverse .navbar-nav>.active>a:after,#header.navbar-toolbar.navbar-inverse .navbar-nav>.active>a:before {
        display: none;
    }
}
#header{
    z-index: 990;
    width: 100%;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
}
.modal-header .close {
    font-size: 2em;
}
#header-messagebox-light{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation-name: headerbarTip;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -moz-animation-name: headerbarTip;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 0;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-play-state: running;
    -o-animation-name: headerbarTip;
    -o-animation-duration: 2s;
    -o-animation-timing-function: linear;
    -o-animation-delay: 0;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-play-state: running;
    -ms-animation-name: headerbarTip;
    -ms-animation-duration: 2s;
    -ms-animation-timing-function: linear;
    -ms-animation-delay: 0;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: alternate;
    -ms-animation-play-state: running;
    animation-name: headerbarTip;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
    @keyframes headerbarTip
    {
        0% {color: red;}
        50% {color: yellow;}
        100% {color: red;}
    }
    @-webkit-keyframes headerbarTip
    {
        0% {color: red;}
        50% {color: yellow;}
        100% {color: red;}
    }
    @-moz-keyframes headerbarTip
    {
        0% {color: red;}
        50% {color: yellow;}
        100% {color: red;}
    }
    @-o-keyframes headerbarTip
    {
        0% {color: red;}
        50% {color: yellow;}
        100% {color: red;}
    }
    @-ms-keyframes headerbarTip
    {
        0% {color: red;}
        50% {color: yellow;}
        100% {color: red;}
    }
/*user*/
#user-account-box{
    margin-bottom: 30px;
}
#user-account-box .tab-pane{
    padding-top: 30px;
}
/*comment*/
#comment-box{
    padding-top: 30px;
    padding-bottom: 30px;
}
/*footer*/
#footer,.footer{
    /* margin-top: 30px; */
    padding: 15px 0;
    /* border-top: 1px solid #e3eae3; */
    background-color: #f8f8f8;
}
#footer address,.footer address{line-height: 1.5;}
#footer address,.footer address .btn{margin-right: 6px;}
/*messagebox*/
#modal-loading{
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 3em;
    color: #555;
}
#messageboxlist td,#messagebox .table>thead>tr>th{
    border: none;
}
#messagebox .tablecheckbox{
    line-height: 1.2em;
    width: 2em;
}
/*uploadDropbox*/
.uploadDropbox{
    overflow-y: scroll;
}
/*statemodal*/
#statemodal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
    z-index: 999;
}
#statemodal>div{
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    color: #949494;
}
#statemodal>div>p{
    font-size: 16px;
    line-height: 20px;
    text-shadow: 0 1px 2px #FFFFFF;
}
#statemodal>div.premary{color: #3079ed;}
#statemodal>div.success{color: #35aa47;}
#statemodal>div.danger{color: #dd4b39;}
/*editor*/
.summernotebox{
    min-height: 300px;
    margin-bottom: 15px;
}
.summernotebox>.summernote{
    min-height: 300px;
}
/*MOREII V3.2*/
a{color: #808080;}
#header-navbar{
    margin-top: 15px;
    margin-bottom: 25px;
}
#header-navbar-logo{
    font-size: 30px;
    font-weight: bold;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}
#header-navbar-nav{
    margin-top: 10px;
}
#header-navbar-nav ul.nav.nav-pills li a{
    background: none;
    color: #808080;
    font-size: 16px;
}
#header-navbar-nav .col-xs-8 ul.nav.nav-pills li:first-child a{
    padding-left: 0;
}
#header-navbar-nav ul.nav.nav-pills li.active a{
    background: none;
    color: #555555;
}
#header-nav-account-dropdown{
    left: -69px;
}
#header-nav-account-caretup{
    position: absolute;
    top: -16px;
    right: 11px;
    color: white;
    text-shadow: 0 -1px 0 #cccccc;
    font-size: 24px;
}
@media (max-width: 768px){
    #header-navbar{
        margin-bottom: 0;
    }
}