/*main style for flatUI*/
.table thead tr th{
    line-height: 2.5em;
}
.table tbody tr td{
    line-height: 2.2em;
}
@media (min-width: 768px){
    #header .navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a {
        border-radius: 0;
    }
    #header .navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > ul {
        padding-top: 5px;
        padding-bottom: 9px;
    }
}

/*mii*/
.jsshow{display: none;}
#uploadImageDropbox{
    width: 100%;
    /*height: 300px;*/
    /*background-color: rgba(0,0,0,0.5);*/
}
.mii-ani{
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}
.mii-boxborder{
    box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 0 2px rgba(0,0,0,0.06),0 0 0 1px rgba(0,0,0,0.04),0 -1px 0 0 rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 0 2px rgba(0,0,0,0.06),0 0 0 1px rgba(0,0,0,0.04),0 -1px 0 0 rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 0 2px rgba(0,0,0,0.06),0 0 0 1px rgba(0,0,0,0.04),0 -1px 0 0 rgba(0,0,0,0.05);
}
@media (min-width: 992px){
    #header-placeholder{
        height: 53px;
        width: 100%;
        clear: both;
        margin-bottom: 30px;
    }
}
@media (max-width: 992px){
    #header-placeholder{
        height: 53px;
        width: 100%;
        clear: both;
        margin-bottom: 30px;
    }

}
@media (max-width: 768px){
    #header.navbar-toolbar.navbar-inverse .navbar-nav>.active>a:after,#header.navbar-toolbar.navbar-inverse .navbar-nav>.active>a:before {
        display: none;
    }

}
#header{
    z-index: 990;
    width: 100%;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
}
.modal-header .close {
    font-size: 2em;
}
#header-messagebox-light{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation-name: headerbarTip;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -moz-animation-name: headerbarTip;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 0;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-play-state: running;
    -o-animation-name: headerbarTip;
    -o-animation-duration: 2s;
    -o-animation-timing-function: linear;
    -o-animation-delay: 0;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-play-state: running;
    -ms-animation-name: headerbarTip;
    -ms-animation-duration: 2s;
    -ms-animation-timing-function: linear;
    -ms-animation-delay: 0;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: alternate;
    -ms-animation-play-state: running;
    animation-name: headerbarTip;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
    @keyframes headerbarTip
    {
        0% {color: red;}
        50% {color: yellow;}
        100% {color: red;}
    }
    @-webkit-keyframes headerbarTip
    {
        0% {color: red;}
        50% {color: yellow;}
        100% {color: red;}
    }
    @-moz-keyframes headerbarTip
    {
        0% {color: red;}
        50% {color: yellow;}
        100% {color: red;}
    }
    @-o-keyframes headerbarTip
    {
        0% {color: red;}
        50% {color: yellow;}
        100% {color: red;}
    }
    @-ms-keyframes headerbarTip
    {
        0% {color: red;}
        50% {color: yellow;}
        100% {color: red;}
    }
/*user*/
#user-account-box{
    margin-bottom: 30px;
}
#user-account-box .tab-pane{
    padding-top: 30px;
}
/*comment*/
#comment-box{
    padding-top: 30px;
    padding-bottom: 30px;
}
/*footer*/
#footer{
    margin-top:30px;
    padding: 30px 0;
    /*border-top: 1px solid #e3eae3;*/
}
/*messagebox*/
#modal-loading{
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 3em;
    color: #555;
}
#messageboxlist td,#messagebox .table>thead>tr>th{
    border: none;
}
#messagebox .tablecheckbox{
    line-height: 1.2em;
    width: 2em;
}