extends ../../layout_console
block content
    -if(refreshCacheErr===null)
        div.alert.alert-success(role="alert")
            h5
                span.fa.fa-check-circle &nbsp;&nbsp;
                span 缓存更新完成
    -else
        div.alert.alert-danger(role="alert")
            h5
                span.fa.fa-exclamation-circle &nbsp;&nbsp;
                span 缓存更新失败
            hr
            p #{refreshCacheErr}
            br