extends ../../layout_console
block content
    br
    h4 首页图片
    //div.uploadDropbox.miidropzone#index-add-picture
    //    div.dz-default.dz-message
    hr
    div.row
        div.col-md-12#index-content-box
            -for(var i=0;i<3;i++)
                div.col-md-12.index-content-item.empty
                    div.index-content-imgbox
                    div.index-content-item-btnbox
                        span.fa.fa-chevron-up
                        span.fa.fa-chevron-down
                        span.fa.fa-times
                    div.index-content-item-changepicture
                        span.fa.fa-picture-o
    div.hidden
        input#file(type='file',name='file')
    hr
    div.col-md-4.row
        button.btn.btn-default(type="button") 增加首页图片
        button.btn.btn-primary#console-save-siteinfo(type="button") 保存