extends ../../layout_console
block content
    br
    h4 首页图片
    div.uploadDropbox.miidropzone#index-add-picture
        div.dz-default.dz-message
    hr
    div.row
        div.col-md-12#index-content-box
            div.col-md-12
    br
    hr
    div.col-md-4.col-md-offset-4.row
        button.btn.btn-primary.btn-block#console-save-siteinfo(type="button") 保存