extends ../layout
block content
    div.container
        div.row
            div.col-md-12.hidden-xs(style="height:100px;")
            div#user-logbox.col-md-4.col-md-offset-4
                form(role="form",method="post",action="/api/login")
                    div.form-group
                        div.input-group
                            span.input-group-addon
                                span.fa.fa-user.user-input-group-addon
                            input.form-control(type="text",name="account",placeholder="账户 (昵称或邮箱)")
                    div.form-group
                        div.input-group
                            span.input-group-addon
                                span.fa.fa-lock.user-input-group-addon
                            input.form-control(type="password",name="password",placeholder="密码")
                    div.form-group
                        button#dologin.btn.btn-primary.btn-block.mii-formsubmit(type="button") 登陆
            div.col-md-12.text-center#user-toggle-login
                a(href="#{siteUrl}user/register") 还没有账户？