extends ../../layout_console
block content
    p 模块版本：0.0.2
    p 模块作者：Sano
    p 定制：difei-sun.com
    p
        span bug反馈：
        span
            a(href="mailto:sano@pcbaike.com") sano@PCbaike.com
    hr