extends ../../layout_console
block content
        br
        h4 面料信息
        hr
        form.form-horizontal#cloth-add-form(role="form")
            div.form-group
                label.col-sm-2.control-label(for="codeNumber") 编号
                div.col-sm-10
                    input.form-control(name="codeNumber",type="text",placeholder="",value="")
            div.form-group
                label.col-sm-2.control-label(for="brand") 品牌
                div.col-sm-10
                    input.form-control(name="brand",type="text",placeholder="",value="")
            div.form-group
                label.col-sm-2.control-label(for="originPlace") 产地
                div.col-sm-10
                    input.form-control(name="originPlace",type="text",placeholder="",value="")
            div.form-group
                label.col-sm-2.control-label(for="color") 颜色
                div.col-sm-10
                    input.form-control(name="color",type="text",placeholder="",value="")
            div.form-group
                label.col-sm-2.control-label(for="pattern") 图案
                div.col-sm-10
                    input.form-control(name="pattern",type="text",placeholder="",value="")
            div.form-group
                label.col-sm-2.control-label(for="weight") 克重
                div.col-sm-10
                    input.form-control(name="weight",type="number",placeholder="",value="")
            div.form-group
                label.col-sm-2.control-label(for="price") 价格
                div.col-sm-10
                    input.form-control(name="price",type="number",placeholder="",value="")
            div.form-group
                label.col-sm-2.control-label(for="yarnCount") 纱支
                div.col-sm-10
                    input.form-control(name="yarnCount",type="text",placeholder="",value="")
        br
        h4 面料图片
        hr
        div.uploadDropbox.miidropzone#cloth-add-picture
            div.dz-default.dz-message
        br
        br
        h4 面料介绍
        hr
        div#cloth-add-description.summernotebox
            div.summernote 在此输入...
        hr
        div.col-md-4.col-md-offset-4.row
            button.btn.btn-primary.btn-block#cloth-add-save(type="button") 添加