doctype html
html
    head
        meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title= title
        -var css = String(cssfile).split(',')
        if(cssfile!=="" && jsfile!==cssfile)
            each item in css
                link(rel='stylesheet', href='/css/app/'+item)
        //-script(src='/js/cut-core.js')
        //- script(src='/js/cut-mouse.js')
        //- script(src='/js/cut-loader.web.js')
        script(src='/js/zepto.min.js')
        script.
            var siteUrl = '#{siteUrl}';
        -var j = String(jsfile).split(',')
        -if(jsfile!=="" && jsfile!==undefind)
            -each item in j
                script(src='/js/app/'+item)
    body
        block content