doctype html
html
    head
        meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title= title
        //link(rel='stylesheet', href='/css/bootstrap.min.css')
        //link(rel='stylesheet', href='/css/magic-bootstrap.css')
        //link(rel='stylesheet', href='/css/font-awesome.min.css')
        //link(rel='stylesheet', href='/css/basic.css')
        -var css = String(cssfile).split(',')
        if(cssfile!=="" && jsfile!==cssfile)
            each item in css
                link(rel='stylesheet', href='/css/app/'+item)
        //script(src='/js/jquery.min.js')
        //script(src='/js/bootstrap.js')
        //script(src='/js/dropzone.min.js')
        //script(src='/js/basic.js')
        //script(src='/js/main.js')
        script(src='/js/cut-core.js')
        script(src='/js/cut-mouse.js')
        script(src='/js/cut-loader.web.js')
        //script(src='/js/p2.js')
        //script(src='/js/cut-p2.js')
    -var j = String(jsfile).split(',')
        if(jsfile!=="" && jsfile!==undefind)
            each item in j
                script(src='/js/app/'+item)
        script.
            var siteUrl = '#{siteUrl}';
    body
        block content