extends layout
block content
    div#rank
        h1 打败了全国91%的玩家！
        div#adbox
            script(src="http://cpro.baidustatic.com/cpro/ui/cm.js",type="text/javascript")
    script(type="text/javascript",src="http://tajs.qq.com/stats?sId=36641287",charset="UTF-8")