body{
    height: 100%;
    overflow: hidden;
}
#header{
    -webkit-user-select:none;
    -webkit-app-region:drag;
    margin-bottom: 0;
}
#close{
    position: fixed;
    top: 2px;
    right: 4px;
    z-index: 9999;
    background: none;
    border: 0;
    font-size: 30px;
    line-height: 36px;
    color: #8b8b8b;
    outline: none;
    box-shadow: none;
}