extends ../layout

block content
    div.container
        div.row
            div.col-md-9#blog-main
               div.col-md-12.row
                    h6 #{errorTitle}
                    hr
                    p #{errorDes}
            div.col-md-3.hidden-sm.hidden-xs#blog-sidebar
                div.blog-sidebar-item
                    div.form-group
                        div.input-group
                            input.form-control(type="text",style="border-right: 0;")
                            span.input-group-btn
                                button.btn(type="submit")
                                    span.fui-search