extends ../layout

block content
    div.container
        div.row
            div.col-md-9#blog-main
               div.col-md-12.row
                    h6 #{errorTitle}
                    hr
                    p #{errorDes}
            div.col-md-3.hidden-sm.hidden-xs#blog-sidebar
                include sidebar