extends ../layout_noheader_mobile

block content
    div#mobile-bg
        canvas#bg-canvas
    div#mobile
        div#crack.mobile-ani
            canvas#crack-canvas
            //div#up
            //div#down
    //canvas#draw
    div#btnbar
        div.barbtn.pull-left#mobile-btn-refresh
            span.fa.fa-flash.fa-2x
        div.barbtn.pull-right#mobile-btn-reload
            span.fa.fa-exchange.fa-2x
        div.barbtn.pull-right#mobile-btn-download
            span.fa.fa-arrow-down.fa-2x
    div#mobile-loading
        span.fa.fa-times.fa-5x.fa-spin