extends ../layout

block content
    div.container
        div.row
            div.col-md-12
                ol.breadcrumb
                    li
                        a(href="#") Home
                    li
                        a(href="#") Console
                    li
                        a(href="#") index
            div.col-md-12#console-indexbtns
                a.btn.btn-default(type="button",href="#{siteUrl}#{app}/addGood")
                    span.fa.fa-plus &nbsp;
                    span 添加商品
                a.btn.btn-default(type="button",href="#{siteUrl}#{app}/user")
                    span.fa.fa-user &nbsp;
                    span 用户管理
